body, html {
    background: #DCDCDC;
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
}

table, td, th {
    border: 1px solid #aaa;
    padding: 5px 10px 5px 5px;
}

table.entrytable table, table.entrytable td, table.entrytable th{
    border-collapse: collapse;
    border-style: hidden;
    margin-left:auto;
    margin-right:auto;
}

h6 {
    display: inline;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

th {
    height: 30px;
    background: #000000;
    color:white;
}

.submittype {
    width: 300px;
}

td {
    text-align: center;
    padding: 3px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

span { 
    display:block;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}